@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border: none;
}

:root {
  --nav-background-color: #111418;
  --nav-background-color-opacity-8: rgba(17, 20, 24, 0.8);
  --white: #fff;
  --light-green: #20c997;
  --social-media-color: #aab1b8;
  --facebook-linkedin-twitter-color: #1877F2;
  --github-color: #333;
  --bg-dark: #212529;
  --bg-light-dark: #343a40;
  --common-heading-h2: #6c757d;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

ul,
li,
ol {
  list-style: none;
}

a {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.text-white {
  color: var(--white);
}

.bg {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 100px 0;
}

.padding-0 {
  padding: 0;
}

.common-heading {
  position: relative;
  text-align: center;
}

.common-heading h2 {
  color: var(--common-heading-h2);
  opacity: .1;
  font-size: 8.25rem;
  font-weight: 600;
}

.common-heading p {
  font-size: 2.25rem;
  font-weight: 500;
  color: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.common-heading hr {
  width: 80px;
  margin: 0 auto;
  height: 3px;
  background-color: var(--light-green);
}

/* ============================ 
        main component
 ============================ */

.main {
  position: relative;
}

/* ============================ 
        navigation 
 ============================ */

.nav {
  width: 266px;
  background-color: var(--nav-background-color);
  height: 100vh;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  padding: 15px;
}

.nav-bg {
  height: 100vh;
}

.profile,
.navbar,
.social-links {
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;
}

.profile .picture {
  width: 190px;
  height: 190px;
  border-radius: 100%;
  border: 10px solid #343a40;
  margin: 0 auto;
}

.profile .picture img {
  width: 100%;
  border-radius: 100%;
}

.profile .picture h1 {
  color: var(--white);
  font-size: 28px;
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
}

nav ul a {
  transition: all 0.3s;
  width: fit-content;
  margin: 0 auto 20px;
}

nav ul a:hover {
  color: var(--light-green);
}

.active {
  color: var(--light-green);
}

.social-links {
  padding: 0 30px 15px;
}

#facebook,
#twitter,
#git,
#linkedIn {
  color: var(--social-media-color);
  cursor: pointer;
  transition: all 0.3s;
  font-size: 18px;
}

#facebook:hover,
#twitter:hover,
#linkedIn:hover {
  color: var(--facebook-linkedin-twitter-color);
}

#git:hover {
  color: var(--github-color);
}

#facebook:focus,
#twitter:focus,
#git:focus,
#linkedIn:focus {
  outline: none;
}

/* ============================ 
        sections
 ============================ */

.sections {
  width: 86%;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  height: 100vh;
}

/* ============================ 
        home section
 ============================ */

.sections .home-section {
  background-image: url("../public/Image/intro-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.sections .home-section .overlay {
  background-color: var(--nav-background-color-opacity-8);
  height: 929px;
}

.sections .home-section .overlay .titleOne {
  animation-name: moveRight;
  animation-duration: 0.7s;
  font-size: 30px;
  font-weight: 600;
}

.sections .home-section .overlay .titleTwo {
  animation-name: moveLeft;
  animation-duration: 1s;
  font-size: 22px;
  font-weight: 400;
}

.sections .home-section .overlay .titleThree {
  animation-name: moveUp;
  animation-duration: 1.3s;
  font-size: 18px;
  font-weight: 400;
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.sections .home-section .overlay h1 {
  font-size: 52px;
  font-weight: 600;
  color: var(--light-green);
  margin: 10px 0;
}

.sections .home-section .overlay a {
  padding: 13px 40px;
  border: 1px solid var(--light-green);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: var(--light-green);
  margin-top: 25px;
  transition: all 0.5s;
}

.sections .home-section .overlay a:hover {
  background-color: var(--light-green);
  color: var(--white);
}

/* ============================ 
        about section
 ============================ */

 .about-section {
  background-color: var(--bg-dark);
 }