@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --nav-background-color: #111418;
  --nav-background-color-opacity-8: rgba(17, 20, 24, 0.8);
  --white: #fff;
  --light-green: #20c997;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

ul,
li,
ol {
  list-style: none;
}

a {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

/* ============================ 
        main component
 ============================ */

.main {
  position: relative;
}

/* ============================ 
        navigation 
 ============================ */

.nav {
  width: 260px;
  background-color: var(--nav-background-color);
  height: 100vh;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  padding: 15px;
}

.nav-bg {
  height: 100vh;
}

.profile,
.navbar,
.social-links {
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;
}

.profile .picture {
  width: 190px;
  height: 190px;
  border-radius: 100%;
  border: 10px solid #343a40;
  margin: 0 auto;
}

.profile .picture img {
  width: 100%;
  border-radius: 100%;
}

.profile .picture h1 {
  color: var(--white);
  font-size: 28px;
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
}

nav ul a {
  transition: all 0.3s;
  width: fit-content;
  margin: 0 auto 20px;
}

nav ul a:hover {
  color: var(--light-green);
}

/* ============================ 
        sections
 ============================ */

.sections {
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: black;
  height: 100vh;
}

/* ============================ 
        home section
 ============================ */

.sections .home-section {
  background-image: url("../public/Image/intro-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.sections .home-section .overlay {
  background-color: var(--nav-background-color-opacity-8);
  height: 100vh;
}

.bg {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}