@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  transition: all 0.5s;
}

:root {
  --nav-background-color: #111418;
  --nav-background-color-opacity-8: rgba(17, 20, 24, 0.8);
  --white: #fff;
  --light-green: #20c997;
  --social-media-color: #aab1b8;
  --facebook-linkedin-twitter-color: #1877f2;
  --github-color: #333;
  --bg-dark: #212529;
  --bg-light-dark: #343a40;
  --common-heading-h2: #6c757d;
  --progress: #111418;
}

/* ============================ 
      reusable tools
 ============================ */

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12 {
  padding: 15px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

ul,
li,
ol {
  list-style: none;
}

a {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.text-white {
  color: var(--white);
}

.text-center {
  text-align: center;
}

.bg {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 100px 0;
}

.padding-0 {
  padding: 0;
}

/* ============================ 
      common components
 ============================ */

.common-heading {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

.common-heading h2 {
  color: var(--common-heading-h2);
  opacity: 0.1;
  font-size: 8.25rem;
  font-weight: 600;
}

.common-heading p {
  font-size: 2.25rem;
  font-weight: 500;
  color: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.common-heading hr {
  width: 80px;
  margin: 0 auto;
  height: 3px;
  background-color: var(--light-green);
}

.cv-btn {
  padding: 14px 40px;
  background-color: #1b9a74;
  border: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-top: 20px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.7s;
}

.cv-btn::before {
  content: "";
  position: absolute;
  left: -43px;
  top: -45px;
  width: 50px;
  height: 200px;
  background-color: white;
  transform: rotate(-45deg);
  transition: all 0.7s;
  opacity: 0.4;
}

.cv-btn:hover::before {
  left: 238px;
}

.cv-btn:hover {
  transform: scale(105%);
}

/* ============================ 
        main component
 ============================ */

.main {
  position: relative;
}

/* ============================ 
        navigation 
 ============================ */

.nav {
  background-color: var(--nav-background-color);
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  padding: 15px;
}

.nav-bg {
  height: 929px;
}

.profile,
.navbar,
.social-links {
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;
}

.profile .picture {
  width: 190px;
  height: 190px;
  border-radius: 100%;
  border: 10px solid #343a40;
  margin: 0 auto;
}

.profile .picture img {
  width: 100%;
  border-radius: 100%;
}

.profile .picture h1 {
  color: var(--white);
  font-size: 28px;
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
}

nav ul a {
  transition: all 0.3s;
  width: fit-content;
  margin: 0 auto 20px;
}

nav ul a:hover {
  color: var(--light-green);
}

.active {
  color: var(--light-green);
}

.social-links {
  padding: 0 30px 15px;
}

#facebook,
#twitter,
#git,
#linkedIn {
  color: var(--social-media-color);
  cursor: pointer;
  transition: all 0.3s;
  font-size: 18px;
}

#facebook:hover,
#twitter:hover,
#linkedIn:hover {
  color: var(--facebook-linkedin-twitter-color);
}

#git:hover {
  color: var(--github-color);
}

#facebook:focus,
#twitter:focus,
#git:focus,
#linkedIn:focus {
  outline: none;
}

/* ============================ 
        sections
 ============================ */

.sections {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
}

/* ============================ 
        home section
 ============================ */

.sections .home-section {
  background-image: url("../public/Image/intro-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.sections .home-section .overlay {
  background-color: var(--nav-background-color-opacity-8);
  height: 929px;
}

.sections .home-section .overlay .titleOne {
  animation-name: moveRight;
  animation-duration: 0.7s;
  font-size: 30px;
  font-weight: 600;
}

.sections .home-section .overlay .titleTwo {
  animation-name: moveLeft;
  animation-duration: 1s;
  font-size: 22px;
  font-weight: 400;
}

.sections .home-section .overlay .titleThree {
  animation-name: moveUp;
  animation-duration: 1.3s;
  font-size: 18px;
  font-weight: 400;
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.sections .home-section .overlay h1 {
  font-size: 52px;
  font-weight: 600;
  color: var(--light-green);
  margin: 10px 0;
}

.sections .home-section .overlay a {
  padding: 13px 40px;
  border: 1px solid var(--light-green);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: var(--light-green);
  margin-top: 25px;
  transition: all 0.5s;
}

.sections .home-section .overlay a:hover {
  background-color: var(--light-green);
  color: var(--white);
}

/* ============================ 
        about section
 ============================ */

.about-section {
  background-color: var(--bg-dark);
}

.about-section .about-me .content h3 {
  color: var(--white);
  font-size: 1.75rem;
  font-weight: 600;
}

.about-section .about-me .content span {
  color: var(--light-green);
}

.about-section .about-me p {
  margin-top: 15px;
  color: var(--social-media-color);
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
}

.about-section .about-me ul li {
  color: var(--white);
  padding: 15px 0;
  font-size: 17px;
  font-weight: 400;
}

.about-section .about-me ul li span {
  padding-left: 5px;
}

/* ============================ 
        service section
 ============================ */

.service-section {
  background-color: var(--bg-light-dark);
}

.service-section .my-services .service {
  height: 250px;
  perspective: 1200px;
  transform-style: preserve-3d;
}

.service-section .my-services .service-box {
  position: relative;
  background-image: url(../public/Image/services1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.7s;
  transform-style: inherit;
  perspective: inherit;
  height: 100%;
}

.service-section .my-services .service-2 .service-box {
  background-image: url(../public/Image/services2.jpg);
}

.service-section .my-services .service-3 .service-box {
  background-image: url(../public/Image/services3.jpg);
}

.service-section .my-services .service-4 .service-box {
  background-image: url(../public/Image/services4.jpg);
}

.service-section .my-services .service-5 .service-box {
  background-image: url(../public/Image/services5.jpg);
}

.service-section .my-services .service-6 .service-box {
  background-image: url(../public/Image/services6.jpg);
}

.service-section .my-services .service-box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-dark);
  opacity: 0.5;
}

.service-section .my-services .service-box .service-front {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: inherit;
  perspective: inherit;
}

.service-section .my-services .service-box .service-front h6 {
  padding: 11px 20px;
  background: var(--white);
  font-size: 16px;
  color: var(--bg-dark);
  font-weight: 600;
  border-radius: 2px;
  transform: translate3d(0, 0, 60px) scale(0.85);
}

.service-section .my-services .service-box .service-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px 15px;
  background: var(--bg-dark);
  transform: rotateY(-180deg) rotateZ(-180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: inherit;
  perspective: inherit;
}

.service-section .my-services .service-box .service-back .content {
  transform: translate3d(0, 0, 60px) scale(0.85);
}

.service-section .my-services .service-box .service-back .content svg {
  color: var(--white);
  font-size: 40px;
  display: block;
  margin: 0 auto;
}

.service-section .my-services .service-box .service-back .content h5 {
  font-size: 22px;
  font-weight: 400;
  color: var(--white);
  padding: 30px 0 20px;
}

.service-section .my-services .service-box .service-back .content p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.service-section .my-services .service:hover .service-box {
  transform: rotate3d(1, 0, 0, 180deg);
}

/* ============================ 
        resume section
 ============================ */

.resume-section {
  background-color: var(--bg-dark);
}

/* ============================ 
        resume boxes
 ============================ */

.resume-section .education,
.resume-section .experience {
  color: var(--white);
}

.resume-section .education h2,
.resume-section .experience h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.resume-section .education-list,
.resume-section .experience-list {
  margin-top: 20px;
  background-color: var(--nav-background-color);
  padding: 15px;
}

.resume-section .education-list span,
.resume-section .experience-list span {
  background-color: var(--light-green);
  font-size: .875rem;
  font-weight: 400;
  padding: 3px 10px;
  letter-spacing: 1px;
  border-radius: 15px;
}

.resume-section .education-list h5,
.resume-section .experience-list h5 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 20px 0 8px;
}

.resume-section .education-list h6,
.resume-section .experience-list h6 {
  color: var(--light-green);
  font-size: 18px;
  font-weight: 400;
}

.resume-section .education-list p,
.resume-section .experience-list p {
  color: var(--white);
  opacity: .5;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
}

/* ============================ 
        progress bar
 ============================ */

.resume-section .progress-bar-part {
  color: var(--white);
}

.resume-section .progress-bar-part h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
  padding-left: 15px;
}

.resume-section .progress-bar-part .content h4 {
  font-size: 1.1rem;
  font-weight: 400;
}

.resume-section .progress-bar-part .progress {
  height: 0.5rem;
  background-color: var(--progress);
  border-radius: 10px;
  overflow: hidden;
}

.resume-section .progress-bar-part .progress .progress-bar {
  height: 100%;
  background-color: var(--light-green);
}


/* ============================ 
        project section
 ============================ */

.project-section {
  background-color: var(--bg-light-dark);
}

/* ============================ 
        project options
 ============================ */

.project-section .project-buttons {
  width: 40%;
  margin: 0 auto 50px;
}

.project-section .project-buttons button {
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}

.project-section .project-buttons button.active {
  color: var(--light-green);
}

.project-section .project-buttons button:hover {
  color: var(--light-green);
}

/* ============================ 
        project demos
 ============================ */
 
.project-section .project-demo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-section .project-demo .box {
  height: 400px;
  background-color: transparent;
  margin: 12px;
  border: 1px solid var(--bg-dark);
  border-radius: 15px;
  cursor: pointer;
}

.project-section .project-demo .box:hover {
  background-color: rgba(0, 0, 0, 0.1);
}